# IS362 Fall 2019 Alternate Project - Koon Tse

#### This is an alternative project for students that missed turning in one of the earlier projects.  You may also use this as a substitute for two assignments.

#### As before, please deliver your code in GitHub, with submission links to your GitHub repository and your published Jupyter Notebook file.  You may work in a small group on this project.

#### Here is a 3 minute video on reading chess tournament cross-tables that you may find helpful:

#### https://www.youtube.com/watch?v=T5PXYl2FEUo

Project - Read Chess Tournament Cross Table

In this project, you’re given a text file with chess tournament results where the information has some structure. Your
job is to create a Jupyter Notebook that generates a .CSV file with the following information for all of the chess players:

Player’s Name, Player’s State, Total Number of Points, Player’s Pre-Rating, and Average Pre Tournament Chess Rating of
Opponents
For the first player, the information would be:

Gary Hua, ON, 6.0, 1794, 1605

1605 was calculated by using the pre-tournament opponents’ ratings of 1436, 1563, 1600, 1610, 1649, 1663, 1716, and
dividing by the total number of games played.

If you have questions about the meaning of the data or the results, first watch the provided video. If you still have
questions, please post them on the discussion forum. Data science, like chess, is a game of back and forth…

The chess rating system (invented by a Minnesota statistician named Arpad Elo) has been used in many other contexts,
including assessing relative strength of employment candidates by human resource departments.

You may substitute another text file (or set of text files, or data scraped from web pages) of similar or greater
complexity, and create your own assignment and solution. You may work in a small team. All of your code should be in
a Jupyter Notebook (and published to your GitHub repository); with your data accessible for the person running the
script

### Import pandas module

In [1]:
import pandas as pd

### Read the Chess_Tournament_Cross_Table.csv data into dataframe

In [2]:
chesstour = pd.DataFrame(pd.read_csv('C:\Users\Daddy\Videos\week10_alt\Chess_Tournament_Cross_Table.csv'))

### Display the data

In [3]:
chesstour

,Pair,Num,Player-Name,User-Id,Rtg,Pre-Post,Total-Pts,Round-1,Round-2,Round-3,Round-4,Round-5,Round-6,Round-7
0,1,ON,GARY HUA,15445895,1794,1605,6.0,W2,W3,W4,W5,W6,L7,L8
1,2,MI,DAKSHESH DAURI,14598900,1553,1436,6.0,L1,W4,W5,W6,W7,L8,L3
2,3,MI,ADITYA BAJAJ,14959604,1384,1563,6.0,W4,L1,W6,W7,W8,D5,L2
3,4,MI,PATRICK H,12616049,1716,1600,5.5,L3,L2,L1,W8,W5,W6,W7
4,5,MI,HANSHI ZUO,14601533,1655,1610,5.5,W8,W7,L2,L1,L4,W3,W6
5,6,MI,HANSEN SONG,15055204,1686,1649,5.0,W7,L8,L3,L2,L1,L4,L5
6,7,MI,GARY DEE SWATHELL,11146376,1649,1663,5.0,L6,L5,W8,L3,L2,W1,L4
7,8,MI,STEFANO LEE,14954524,1411,1716,5.0,L5,W6,L7,L4,L3,W2,W1

### Calculate the avg number

In [4]:
def avg_pre_tournament_rating():
    sum = 0 
    for chessavg in chesstour.loc[0][7:]:
        sum+= chesstour['Pre-Post'].loc[int(chessavg[1])-1]
    return int(sum/7)

### Format output

In [7]:
CHUSER = pd.DataFrame(columns=['Player Full Name', 'State Origin', 'Total Number of Points', 'Player Rating','Player Pre-Tournament Rating Average'])

In [8]:
CHUSER.loc[1,'Player Full Name'] = chesstour['Player-Name'][0]
CHUSER.loc[1,'State Origin'] = chesstour['Num'][0]
CHUSER.loc[1,'Total Number of Points'] = chesstour['Total-Pts'][0]
CHUSER.loc[1,'Player Rating'] = chesstour['Rtg'][0]
CHUSER.loc[1,'Player Pre-Tournament Rating Average'] = avg_pre_tournament_rating()

### Display output for 1st player

In [9]:
CHUSER

,Player Full Name,State Origin,Total Number of Points,Player Rating,Player Pre-Tournament Rating Average
1,GARY HUA,ON,6,1794,1605

In [10]:
### Output to csv file

In [11]:
#generate csv file
CHUSER.to_csv(r'C:\Users\Daddy\Videos\week10_alt\Chess_Tournament_Player.csv', index=None, header=True)