# Project 2 - Koon Tse

## Tidying Data

#### Project Task:

(1) Choose any three of the “wide” datasets identified in the Week 5 Discussion items. (You may use your own dataset; please don’t use my Sample Post dataset, since that was used in your Project 1 assignment!) For each of the three chosen datasets:
* Create a .CSV file (or optionally, a MySQL database!) that includes all of the information included in the dataset. You’re encouraged to use a “wide” structure similar to how the information appears in the discussion item, so that you can practice tidying and transformations as described below.
* Read the information from your .CSV file into Python, and use pandas as needed to tidy and transform your data. [Most of your grade will be based on this step!]
* Perform the analysis requested in the discussion item.
* Your code should be in an Jupyter Notebook, posted to your GitHub repository, and should include narrative descriptions of your data cleanup work, analysis, and conclusions.

(2) Please include the URL for the Jupyter Notebook in your homework submission, for each of the three chosen datasets. You may create a single Jupyter Notebook, or three separate notebooks.

## For my analysis, I will attempt to determine which has the highest hiring status based on the month where the Job Application was submitted.

### Loading pandas / numpy / datetime modules in Jupyter notebook

In [2]:
import numpy as np
import pandas as pd
import datetime

### Loading dataset into Jupyter notebook

In [3]:
jobapp = pd.read_csv(r'C:\Users\Daddy\Videos\IS362_Project2-master\job_app_status.csv')

### Looking at the top 5 records of the dataset

In [4]:
jobapp.head()

,App Index,Job Type,Application Date,Status,Interview Scheduled,Resume check,Background check,Manager Interview Scheduled,Technical Interview,HR Interview,Offer or Reject Email,Last Updated
0,1,Full Time,5/1/2019,Not Hired,6/30/2019,Completed,Required,Completed,Required,Completed,Reject,9/29/2019
1,2,Full Time,5/30/2019,Hired,7/29/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018
2,3,Full Time,6/16/2019,Hired,8/15/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018
3,4,Full Time,2/3/2019,Not Hired,4/4/2019,Required,Required,Completed,Required,Required,Reject,9/29/2019
4,5,Full Time,3/9/2019,Hired,5/8/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018

As you can tell, there are (.) dots or periods that are in place of a null value that is needed. Since there is a dot, I believe it is important to check the data types for each column:

### Counting the total records of each data series on this dataset

In [5]:
jobapp.count()

App Index                      1000
Job Type                       1000
Application Date               1000
Status                         1000
Interview Scheduled            1000
Resume check                   1000
Background check               1000
Manager Interview Scheduled    1000
Technical Interview            1000
HR Interview                   1000
Offer or Reject Email          1000
Last Updated                   1000
dtype: int64

### Extracting the month from the Application Date data series

In [6]:
jobapp['month'] = pd.DatetimeIndex(jobapp['Application Date']).month
jobapp.head()

,App Index,Job Type,Application Date,Status,Interview Scheduled,Resume check,Background check,Manager Interview Scheduled,Technical Interview,HR Interview,Offer or Reject Email,Last Updated,month
0,1,Full Time,5/1/2019,Not Hired,6/30/2019,Completed,Required,Completed,Required,Completed,Reject,9/29/2019,5
1,2,Full Time,5/30/2019,Hired,7/29/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018,5
2,3,Full Time,6/16/2019,Hired,8/15/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018,6
3,4,Full Time,2/3/2019,Not Hired,4/4/2019,Required,Required,Completed,Required,Required,Reject,9/29/2019,2
4,5,Full Time,3/9/2019,Hired,5/8/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018,3

### Now we will filtered the 'Status' data series to only show 'Hired' status

In [8]:
onlyhired = jobapp[jobapp.Status=='Hired']
onlyhired.head()

,App Index,Job Type,Application Date,Status,Interview Scheduled,Resume check,Background check,Manager Interview Scheduled,Technical Interview,HR Interview,Offer or Reject Email,Last Updated,month
1,2,Full Time,5/30/2019,Hired,7/29/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018,5
2,3,Full Time,6/16/2019,Hired,8/15/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018,6
4,5,Full Time,3/9/2019,Hired,5/8/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018,3
8,9,Full Time,1/21/2019,Hired,3/22/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018,1
9,10,Full Time,3/24/2019,Hired,5/23/2019,Completed,Completed,Completed,Completed,Completed,Offer,10/27/2018,3

### We will use the groupby, count and sort to determine which month has the highest hiring rate based on the month of job application submission.

In [9]:
onlyhired.groupby('month')['App Index'] \
.count() \
.reset_index(name='count') \
.sort_values(['count'], ascending=False)

   month  count
4      5     61
2      3     39
0      1     35
5      6     23
1      2     22
3      4     18
6      7     15

# Based on our analysis of the data set, we have can concluded that the month with the highest hiring rate is May.