# IS362 Fall 2019 Project 3 - Koon Tse

### Project Task:

1. For your database, you should download and install the appropriate version of the Chinook database for your RDBMS, which is available here, under the downloads tab: https://chinookdatabase.codeplex.com/  (Downloaded from https://github.com/lerocha/chinook-database)
2. Your task is to create a pandas DataFrame that displays Customers’ Last Name and First Name, and each customer’s purchased Track names and Album Titles. The information should be sorted by Customer LastName then Customer FirstName.

##### Import pandas and sqlite3 modules

In [1]:
import  pandas as pd
import sqlite3

##### Create connection to Chinook sqlite database file by using .connect()

In [2]:
con = sqlite3.connect('C:\Users\Daddy\Videos\IS362_Project3\Chinook_Sqlite.sqlite')
tracks = pd.read_sql_query("SELECT * from Track", con=con)

##### Create SQL query to connect five tables and sort by Last Name and First Name:

In [4]:
sql = '''SELECT c.LastName, c.FirstName, t.Name, a.Title
         FROM Customer as c
         LEFT JOIN Invoice as i
         ON c.CustomerId = i.CustomerId
         LEFT JOIN InvoiceLine as il
         ON i.InvoiceId = il.InvoiceId
         LEFT JOIN Track as t
         ON il.TrackId = t.TrackId
         LEFT JOIN Album as a
         ON t.AlbumId = a.AlbumId
         ORDER BY c.LastName, c.FirstName'''

con = sqlite3.connect("C:\Users\Daddy\Videos\Project3\Chinook_Sqlite.sqlite")
db = pd.read_sql_query(sql , con=con).head(10)
con.close()
db

,LastName,FirstName,Name,Title
0,Almeida,Roberto,Right Next Door to Hell,Use Your Illusion I
1,Almeida,Roberto,In The Evening,In Through The Out Door
2,Almeida,Roberto,Fool In The Rain,In Through The Out Door
3,Almeida,Roberto,Saudade Dos Aviões Da Panair (Conversando No Bar),Minas
4,Almeida,Roberto,Caso Você Queira Saber,Minas
5,Almeida,Roberto,Dance,Ace Of Spades
6,Almeida,Roberto,Aos Leões,Demorou...
7,Almeida,Roberto,Demorou!,Demorou...
8,Almeida,Roberto,Home Sweet Home,Motley Crue Greatest Hits
9,Almeida,Roberto,Intro,From The Muddy Banks Of The Wishkah [Live]

### The top 10 entries was displayed.