# IS362 Fall 2019 Week07 Assignment - Koon Tse

#### Choose six recent popular movies. Ask at least five people that you know (friends, family, classmates, imaginary friends) to rate each of these movies that they have seen on a scale of 1 to 5. There should be at least one movie that not everyone has seen!
####  Take the results (observations) and store them somewhere (like a SQL database, or a .CSV file). Load the information into a pandas dataframe. Your solution should include Python and pandas code that accomplishes the following:

##### 1. Load the ratings by user information that you collected into a pandas dataframe.

##### 2. Show the average ratings for each user and each movie.

##### 3. Create a new pandas dataframe, with normalized ratings for each user. Again, show the average ratings for each user and each movie.

##### 4. Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.

##### 5. [Extra credit] Create another new pandas dataframe, with standardized ratings for each user. Once again, show the average ratings for each user and each movie.

In [1]:
import pandas as pd
import numpy as np

##### 1. Load ratings in a Pandas dataframe:

In [2]:
movie_ratings = pd.read_csv(r'C:\Users\Daddy\Videos\Week07\movies.csv', index_col=0)

###### Check the loaded file with "head" to show the top entries of the file

In [3]:
movie_ratings.head()

           Ironman  Thor  BlackPanter  CaptainMarvel  Spiderman  Hulk
Mandy            4   NaN          5.0            5.0        4.0     3
Brandon          5   5.0          4.0            NaN        3.0     1
Chris            3   2.0          NaN            4.0        5.0     3
John             3   NaN          4.0            3.0        4.0     2
Stephanie        2   2.0          4.0            5.0        NaN     4

##### 2a. Show average ratings for each user.

In [4]:
avg_user_ratings = movie_ratings.mean(axis=1)
avg_user_ratings

Mandy        4.2
Brandon      3.6
Chris        3.4
John         3.2
Stephanie    3.4
dtype: float64

##### 2b Show average ratings for each movie.

In [5]:
avg_movie_ratings = movie_ratings.mean()
avg_movie_ratings

Ironman          3.40
Thor             3.00
BlackPanter      4.25
CaptainMarvel    4.25
Spiderman        4.00
Hulk             2.60
dtype: float64

##### 3. Create a new pandas dataframe with normalization ratings for each user:

In [6]:
normalized_ratings = (movie_ratings - movie_ratings.min()) / (movie_ratings.max() - movie_ratings.min())
normalized_ratings

            Ironman  Thor  BlackPanter  CaptainMarvel  Spiderman      Hulk
Mandy      0.666667   NaN          1.0            1.0        0.5  0.666667
Brandon    1.000000   1.0          0.0            NaN        0.0  0.000000
Chris      0.333333   0.0          NaN            0.5        1.0  0.666667
John       0.333333   NaN          0.0            0.0        0.5  0.333333
Stephanie  0.000000   0.0          0.0            1.0        NaN  1.000000

##### 3a. Show average normalized ratings for each user.

In [7]:
avg_normalized_user_ratings = normalized_ratings.mean(axis=1)
avg_normalized_user_ratings

Mandy        0.766667
Brandon      0.400000
Chris        0.500000
John         0.233333
Stephanie    0.400000
dtype: float64

###### 3b. Show average normalized ratings for each movie.

In [8]:
avg_normalized_movie_ratings = normalized_ratings.mean()
avg_normalized_movie_ratings

Ironman          0.466667
Thor             0.333333
BlackPanter      0.250000
CaptainMarvel    0.625000
Spiderman        0.500000
Hulk             0.533333
dtype: float64

#### Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.

Based on the analysis of normalized ratings and actual ratings provide, it yields different conclusion of the same data set.  Normalizing is better in data duplication in a bigger data set and can easily grouped. The disdvantages of normalized ratings interprets the ratings scale from 0 to 1, it can be confusing for the audience to comprehend.  Depending on the story the person analyzing the data wish to tell and the audience it is presented to where one might be a better representation over the other.

##### 5. [Extra Credit] Create another new pandas dataframe, with standardized ratings for each user

In [9]:
standardized_ratings = (movie_ratings-movie_ratings.mean()) / movie_ratings.std()
standardized_ratings

            Ironman      Thor  BlackPanter  CaptainMarvel  Spiderman      Hulk
Mandy      0.526235       NaN          1.5       0.783349   0.000000  0.350823
Brandon    1.403293  1.154701         -0.5            NaN  -1.224745 -1.403293
Chris     -0.350823 -0.577350          NaN      -0.261116   1.224745  0.350823
John      -0.350823       NaN         -0.5      -1.305582   0.000000 -0.526235
Stephanie -1.227881 -0.577350         -0.5       0.783349        NaN  1.227881

##### 5a. Average standardized ratings for each user.

In [14]:
avg_standardized_user_ratings = standardized_ratings.mean(axis=1)
avg_standardized_user_ratings

Mandy        0.596999
Brandon     -0.149091
Chris        0.217585
John        -0.571610
Stephanie   -0.093882
dtype: float64

##### 5b. Average standardized ratings for each movie.

In [10]:
avg_standardized_movie_ratings = standardized_ratings.mean()
avg_standardized_movie_ratings

Ironman          8.881784e-17
Thor             0.000000e+00
BlackPanter      0.000000e+00
CaptainMarvel    5.551115e-17
Spiderman        0.000000e+00
Hulk            -8.881784e-17
dtype: float64